<form action="./api/destroyTable/{{this.id}}">
	<button type="submit" value="destroytable" class="destroy-table" data-id="{{this.id}}" data-eaten="{{this.eaten}}">
		<span>{{this.name}}</span>
	</button>
</form>