<h3 class="header text-center">Reddit Scraper!</h3>
 <div class="row justify-content-center"> 
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center" id="buttons">
        <input id="username" type="text" class="form-control" placeholder="Reddit Username" aria-label="Filter" aria-describedby="basic-addon1">
        <br>
        <div class="row">
          <div class="col-6"><input id="fromDate" type="text" class="form-control" placeholder="From Date" aria-label="Filter" aria-describedby="basic-addon1"></div>
          <div class="col-6"><input id="toDate" type="text" class="form-control" placeholder="To Date" aria-label="Filter" aria-describedby="basic-addon1"></div>
        </div>
        <br>
        <button class="btn btn-primary" id="scrape">Scrape User's History</button>
        <button type="submit" class="btn btn-primary" id="fetch">Fetch User's History</button>
      </div>
    </div>  
    <div class="col-2"></div>
  </div>
    <br>
    <hr>
    <br>
    <br>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="input-group mb-3">
      <input id="textFilter" type="text" class="form-control" placeholder="Filter" aria-label="Filter" aria-describedby="basic-addon1">
    </div>
      <table class="table sticky-header" id="results">
        <thead class="thead-light">
          <tr>
            <th scope="col" id="title">Title</th>
            <th scope="col" id="time" style="width: 35%">Time</th>
            <th scope="col" id="type" style="width: 15%">Type</th>
          </tr>
          {{#each this}}
            {{#if this.title}}
              {{> table-row}}
            {{/if}}
          {{/each}}
        </thead>
      </table>
  </div>
  <div class="col-2"></div>
</div>

<script src="../assets/js/app.js"></script>