<h3 class="header text-center">Reddit Scraper!</h3>
 <div class="row justify-content-center"> 
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center" id="buttons">
        <button class="btn btn-primary" id="weight-sort">Sort By Weight</button>
        <button class="btn btn-primary" id="name-sort">Sort By Name</button>
      </div>
    </div>  
    <div class="col-2"></div>
  </div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <table class="table" id="results">
        <thead>
          <tr>
            <th scope="col" id="animal-name">Name</th>
            <th scope="col" id="animal-legs">Num Legs</th>
            <th scope="col" id="animal-class">Class</th>
            <th scope="col" id="animal-weight">Weight</th>
            <th scope="col" id="animal-new-name">But I'd Call It...</th>
          </tr>
        </thead>
        <tbody>
          <!-- Results from DB here -->
        </tbody>
      </table>
  </div>
  <div class="col-2"></div>
</div>