<h3 class="header text-center">Reddit User History Scraper!</h3>
 <div class="row justify-content-center"> 
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center" id="buttons">
        <input id="username" type="text" class="form-control" placeholder="Reddit Username" aria-label="Filter" aria-describedby="basic-addon1">
        <br>
        <div class="row">
          <div class="col-6"><input id="fromDate" type="text" class="form-control" placeholder="From Date" aria-label="Filter" aria-describedby="basic-addon1"></div>
          <div class="col-6"><input id="toDate" type="text" class="form-control" placeholder="To Date" aria-label="Filter" aria-describedby="basic-addon1"></div>
        </div>
        <br>
        <button class="btn btn-primary" id="scrape">Scrape User's History</button>
        <button type="submit" class="btn btn-primary" id="fetch">Fetch User's History</button>
      </div>
    </div>  
    <div class="col-2"></div>
  </div>
</div>

<script src="../assets/js/jquery.floatThead.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
<script src="../assets/js/app.js"></script>