.table {
table-layout: fixed; 
}

table.floatThead-table{
    border-top: none;
    border-bottom: none;
}

#notes {
    float: right;
    width: 30%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }

  #mynotebox {
      position: fixed;
      top: 0;
      right: 0;
      height: 400px;
      width: 250px;
  }

  .table {
    position: sticky;
    top: 0;
    z-index: 10;
}